In [86]:
import sqlite3
con = sqlite3.connect("lab3.sqlite", isolation_level=None)
c = con.cursor()

In [87]:
c.execute("""DROP TABLE IF EXISTS movies""")

In [88]:
# always include:
# created_at DATETIME DEFAULT CURRENT_TIMESTAMP
# updated_at DATETIME DEFAULT CURRENT_TIMESTAMP

q = """
CREATE TABLE IF NOT EXISTS movies (
    id INTEGER PRIMARY KEY,
    title TEXT,
    year INTEGER,
    rating FLOAT,
    is_watched BOOLEAN DEFAULT 0,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    updated_at DATETIME DEFAULT CURRENT_TIMESTAMP)
"""
c.execute(q)

In [89]:
# Check if the table is created
q = """
SELECT
    name
FROM 
    sqlite_master
"""

res = c.execute(q)

In [90]:
# Fetch the first row
res.fetchone()

# # Fetch all rows
# res.fetchall()

('movies',)

In [91]:
# * means all columns
q = """
SELECT
    *
FROM
    movies
"""

res = c.execute(q)
res.fetchall()

[]

In [92]:
q = """
INSERT INTO movies (title, year, rating) VALUES (?, ?, ?)
"""

c.execute(q, ("The Matrix", 1999, 5.0))

In [93]:
c.execute(q, ("Forrest Gump", 1994, 3.5))

In [94]:
# bad because won't work for LARGE data sets
res = c.execute('''SELECT * FROM movies''')
res.fetchall()

[(1, 'The Matrix', 1999, 5.0, 0, '2024-02-01 23:44:51', '2024-02-01 23:44:51'),
 (2,
  'Forrest Gump',
  1994,
  3.5,
  0,
  '2024-02-01 23:44:53',
  '2024-02-01 23:44:53')]

In [95]:
[x for x in c.execute("""SELECT * FROM movies""")]

[(1, 'The Matrix', 1999, 5.0, 0, '2024-02-01 23:44:51', '2024-02-01 23:44:51'),
 (2,
  'Forrest Gump',
  1994,
  3.5,
  0,
  '2024-02-01 23:44:53',
  '2024-02-01 23:44:53')]

In [96]:
data = [
    ("Monty Python Live at the Hollywood Bowl", 1982, 5.0),
    ("Monty Python's The Meaning of Life", 1983, 4.5),
    ("Monty Python's Life of Brian", 1979, 3.9),
]
c.executemany("INSERT INTO movies (title, year, rating) VALUES(?, ?, ?)", data)

In [98]:
for row in c.execute("SELECT year, title FROM movies ORDER BY year"):
    print(row)

(1979, "Monty Python's Life of Brian")
(1982, 'Monty Python Live at the Hollywood Bowl')
(1983, "Monty Python's The Meaning of Life")
(1994, 'Forrest Gump')
(1999, 'The Matrix')